{
  "DATABASE_URL": "jdbc:postgresql://postgres:5432/subauth",
  "DATABASE_USER": "postgres",
  "DATABASE_PASSWORD": "",
  "TWITCH_CLIENT_ID": "",
  "TWITCH_CLIENT_SECRET": "",
  "TWITCH_OAUTH_REDIRECT": "",
  "JWT_VERIFY_SECRET": "",
  "TOKEN_PSK": ""
}